@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway&family=Sigmar&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0 box-border;
}
html {
  font-family: "Poppins", sans-serif;
}
.stats-card body {
  min-height: 100vh;
  font-family: "Source Sans 3", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover  */
::-webkit-scrollbar-track:hover {
  background: #555;
}

.MuiDataGrid-filterForm {
  @apply bg-black flex flex-col gap-5 p-3;
}

.MuiFormControl-root {
  @apply w-full;
}
.MuiFormControl-root button {
  @apply absolute -top-2 right-0;
}
.delete-column-header {
  display: none !important;
}
